body {
background-image:url(assets/wallpapeprprp.avif);
background-repeat: no-repeat;
background-size: cover;
color: azure;

}

main h3{
    text-align: center;
}

main h5{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

main div {
    text-align: center;
    color: whitesmoke;
}

main div {
    text-align: center;
    color: azure;
}


img {
    container;
    height: 350px;
    border: color white;
    padding-right: 170px;
    border-radius: 10px;
    border-bottom: 2px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: xx-large;
    padding: 50px;
    padding-left: 800px;
}

footer p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: azure; 
    padding: 800px;
    padding: 50px;

}

containter image{
    .container-imagens {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
}

.container-imagens img {
    max-width: 100%; 
    height: auto;
}
}

