body {
background-color: black;
background-image:url(assets/gettyimages-1469874523-640x640.jpg);
background-repeat: no-repeat;
background-size: cover;
color: azure;

}

main h3{
    text-align: center;
}

main h5{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

main div {
    text-align: center;
    color: blanchedalmond
}

main div h5{
    text-align: center;
}


img {
    container;
    height: 350px;
    border: 10px antiquewhite;
    border-radius: 30px;
    padding-right: 170px;
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: xx-large;
    padding: 50px;
    padding-left: 800px;
}

footer p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: azure; 
    padding: 800px;
    padding: 50px;

}

containter image{
    .container-imagens {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.container-imagens img {
    max-width: 100%; 
    height: auto;
}
}

