body {
background-image:url(assets/gettyimages-1469874523-640x640.jpg);
background-repeat: no-repeat;
background-size: cover;
color: azure;

}

img {
    height: 400px;
    border: 3px antiquewhite;
    border-radius: 50px;
    padding-left: 650px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: xx-large;
    padding: 50px;
    padding-left: 800px;
}

footer p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: azure; 
    padding: 800px;
    padding: 50px;

}